<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <!-- inline config -->
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      macros: {
      	RR: "{\\bf R}",
      	bold: ["{\\bf #1}", 1],
        indep: "{\\perp \\!\\!\\! \\perp}",
    	}
    },
    svg: {
    fontCache: 'global'
  	},
  };
</script>

<!-- load MathJax -->
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      /* Scrollable table container */
      .scrollable-table {
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
      }
    </style>
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <!-- <table width="80%" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td>
            <img src="{{ page.figure_1_dir }}" alt="{{ page.figure_2_alt }}"  height="300">
          </td>
          <td>
            <img src="{{ page.figure_2_dir }}" alt="{{ page.figure_2_alt }}"  height="300">
          </td>
        </tr>
    </table> -->    
    <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 10px;">
        <img src="{{ page.figure_dir }}" alt="{{ page.figure_alt }}" style="flex-basis: 60%; max-width: 60%; height: auto;">
    </div>
    

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner">This page is maintained by <a href="{{ site.owner_url }}">{{ site.owner_name }}</a>. 
            {% if site.last_updated %}
            Last updated: {{'now' | date: '%B %d, %Y'}}.
            {% endif %}
          </span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>
